@import "../../styles/public";

.component-page{
  padding: 1rem 0.5rem 0;
  .component-title{
    text-align: center;
    color:rgb(119,122,122);
    @include font-dpr(8px);
    padding-bottom: 1rem;
    img{
      width: px2rem(48px);
      height: px2rem(48px);
    }
    p{
      margin-top: 0.2rem;
    }
  }

  .component-container{

  }
}

