@import "../../styles/public.scss";

.fold-box{
  background-color: $theme-color-white;
  width: 100%;
  margin-top: 0.2rem;
  position: relative;
  padding: 0 0.5rem 0.2rem 0.5rem;

  .fold-title{
    width: 100%;
    height: 2rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .fold-name{
      @include font-dpr(10px);
    }
    img{
      width: px2rem(32px);
      height: px2rem(32px);
    }
  }

  .fold-container{
    //height:100px;
    transition: all 0.5s;
    overflow: hidden;
    .fold-item{
      padding: 0.2rem 0;
      line-height:0.8rem;
      border-bottom: 1px solid #d4d4d4;
      height: 1.2rem;
      a{
        display: block;
        width: 100%;
      }
    }

  }
  .open{
    opacity: 0.2;
  }



}